@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    /* user-select: none; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: "Montserrat";
}

html, body {
    height: 100%;
    font-family: "Montserrat";
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center; 
}


body {
    display: inline !important;
    align-items: center;
    justify-content: center;
    place-items: center;
    background: #dde1e7;
    text-align: center;
}

.content {
    width: 30rem;
    padding: 2rem 4rem;
    background: #dde1e7;
    border-radius: 0.5rem;
    box-shadow: -0.15rem -0.15rem 0.35rem #ffffff73, 0.1rem 0.1rem 0.25rem rgba(94,104,121,0.288);
}

    .content .text {
        font-size: 1.65rem;
        font-weight: 600;
        margin-bottom: 1.75rem;
        color: #595959;
    }

.field {
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    display: flex;
    position: relative;
}

    .field:nth-child(2) {
        margin-top: 1rem;
    }

    .field input {
        height: 100%;
        width: 100%;
        padding-left: 2.25rem;
        outline: none;
        border: none;
        font-size: 0.9rem;
        background: #dde1e7;
        color: #595959;
        border-radius: 1.25rem;
        box-sizing: border-box;
        box-shadow: inset 0.1rem 0.1rem 0.25rem #BABECC, inset -0.25rem -0.25rem 0.5rem #ffffff73;
    }

        .field input:focus {
            box-shadow: inset 0.05rem 0.05rem 0.25rem #BABECC, inset -0.1rem -0.05rem 0.1rem #ffffff73;
        }

    .field span {
        position: absolute;
        color: #595959;
        width: 2.5rem;
        line-height: 2.5rem;
    }

    .field label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2.25rem;
        pointer-events: none;
        color: #666666;
    }

    .field input:valid ~ label {
        opacity: 0;
    }

.forgot-pass {
    text-align: left;
    margin: 0.5rem 0 0.5rem 0.25rem;
}

    .forgot-pass a {
        font-size: 0.8rem;
        color: #3498db;
        text-decoration: none;
    }

    .forgot-pass:hover a {
        text-decoration: underline;
    }

button {
    margin: 0.75rem 0;
    width: 100%;
    height: 2.5rem;
    font-size: 0.9rem;
    line-height: 2.5rem;
    font-weight: 600;
    background: #dde1e7;
    border-radius: 1.25rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: #595959;
    box-shadow: 0.1rem 0.1rem 0.25rem #BABECC, -0.25rem -0.25rem 0.5rem #ffffff73;
}

    button:focus {
        color: #3498db;
        box-shadow: inset 0.1rem 0.1rem 0.25rem #BABECC, inset -0.25rem -0.25rem 0.5rem #ffffff73;
    }

.sign-up {
    margin: 0.5rem 0;
    color: #595959;
    font-size: 0.8rem;
}

    .sign-up a {
        color: #3498db;
        text-decoration: none;
    }

        .sign-up a:hover {
            text-decoration: underline;
        }
